/** @format */

@keyframes showTopText {
  0% {
    transform: translate3d(0, 100%, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes showBottomText {
  0% {
    transform: translate3d(0, -110%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes showButton {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.animated-title > div:first-child > h2 {
  animation: 0.5s showTopText 0.5s ease-in-out;
  animation-fill-mode: forwards;
  transform: translate(0, 100%);
}
.animated-title > div:nth-child(2) > h2 {
  animation: 0.5s showBottomText 1s ease-in-out;
  animation-fill-mode: forwards;
  transform: translate(0, -110%);
}
.animated-button {
  animation: showButton 0.5s ease-in-out 1.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}
